body {
    font-family: "Grandstander", cursive;
    text-decoration: none;
}
table , th , td {
    border: 1px solid black;
    background-color: #92967d;
    font-family: sans-serif;
    color: #940a00;
}
header {
    background-color: #e1701a;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    padding: 20px;
    height:100px
}
header h1 {
    color: #FFE3FE;
    font-weight: bold;
    float: left;
}
header nav {
    float: right;
    padding: 0 30px;
}
header nav ul li {
    display: inline-block;
    padding: 0 30px;
}
header nav ul li a {
    text-decoration: none;
    color: #FFE3FE;
    text-transform: uppercase;
    font-size: 15px;
}
p{
    color: #92967d;
    font-size: 20px;
    font-display: bolder;
    font-family: serif;
}
/*#hero {
    background-image: url("../img/backGround.png");
    height: 450px;
    margin-top: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero h2 {
    color: #FFE3FE;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    font-weight: bolder;
}
#program h2 {
    text-align: center;
    font-weight: bolder;
    margin: 20px 0px;
}
#program p {
    padding: 0px 30px;
    color: #440A67;
    line-height: 1.4;
    text-align: justify;
}
#program p a {
    text-decoration: none;
    font-weight: 800;
}
#program p a:hover {
    text-decoration: underline;
    color: #B4AEE8;
}
#courses {
    margin: 0 auto;
    width: 90%;
}
.course-item {
    background-color: #93329E;
    margin: 10px 10px;
    height: 100px;
    width: 16%;
    /* padding: 3%; 
    float: left;
    border-radius: 20px;
}
.course-item h3 {
    color: #FFE3FE;
    font-weight: 400;
    line-height: 1.2;
    padding-left: 15px;
    padding-top: 20px;
    text-align: center;
}
#para{
    padding-top: 250px;
}*/
img{
    padding-top: 200px;
   width: 400;
   position: relative ;
}
footer {
    clear: both;
    width: 100%;
    background-color: #e1701a;
    padding: 15px;
    text-align: center;
    color: #FFE3FE;
    font-weight: 600;
    padding-top: 150px;
}
fieldset {
    background-color: #92967d;
    font-family:  sans-serif;
    color: #940a00;
}